<div id="burgerYouWant">
    <ul>

        {{#each burgers }}

        {{#unless devoured}}
        <li>
            <p> {{id}}. {{burger_name}}</p>
            <button data-id="{{id}}" id="devoure_it">Devoure it!</button>
        </li>

        {{/unless}}
        {{/each}}

    </ul>

</div>

<div id="devouredBurger">
    <ul>
        {{#each burgers }}

        {{#if devoured}}
        <li>
            <p> {{id}}. {{burger_name}}</p>
            <button data-id="{{id}}" id="delete_it">Delete it</button>

        </li>

        {{/if}}
        {{/each}}

    </ul>
</div>

<form id="burger_form">
    <input type="text" id="favorite_burger">
    <button type="submit" id="submit">submit</button>
    <p>Enter a burger you want to eat click the "submit" button</p>

</form>