<img src="../assets/img/burgerimage.jpg">

<div id="burgerYouWant">


    {{#each burgers }}

    {{#unless devoured}}
    <section id="text">
        <p> {{id}}. {{burger_name}}</p>
    </section>
    <section id="buttons">
        <button data-id="{{id}}" id="devoure_it">Devoure it!</button>
    </section>





    {{/unless}}
    {{/each}}



</div>

<div id="devouredBurger">

    {{#each burgers }}

    {{#if devoured}}
    <section id="text">
        <p> {{id}}. {{burger_name}}</p>
    </section>
    <section id="buttons">
        <button data-id="{{id}}" id="delete_it">Delete it</button>
    </section>




    {{/if}}
    {{/each}}


</div>

<form id="burger_form">
    <input type="text" id="favorite_burger">
    <button type="submit" id="submit">submit</button>
    <p>Enter a burger you want to eat click the "submit" button</p>

</form>